.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
.Main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.21);
    padding: 40px;
    display: -webkit-box;
}

div.InfoTable {
    border: solid;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 7px 6px 20px 0px black;
    background-color: #76de79;
    color: #222222;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


